.tree-nodes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tree-nodes__header {
  display: flex;
}

.tree-nodes__toggle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.tree-nodes li {
  display: flex;
}

.tree-nodes li:hover{
  cursor: default;
}

.tree-nodes__btns {
  display: flex;
  gap: 10px;
}

.tree-nodes .tree-nodes__btns{
  display: none;
  margin-left: 10px;
}

.tree-nodes .tree-nodes__header:hover > .tree-nodes__btns {
  display: flex;
  cursor: default;
}

.child-node {
  padding-left: 20px;
}

.tree-nodes__toggle {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
}

